<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>

<mat-toolbar color="primary" class="navbar">
    <img
        width="55"
        alt="Simple Shares Logo"
        src="assets/SimpleSharesLogo.png"
    />
    <span [routerLink]="['/admin/allshares']">All Shares</span>
    <span [routerLink]="['/admin/usershares']">User Shares</span>
    <span [routerLink]="['/admin/userprofiles']">User Profiles</span>
    <span [routerLink]="['/admin/settings']">Settings</span>
    <span (click)='logout()'>
        Log out
    </span>
</mat-toolbar>