<div class='card' *ngIf='newsResponse && newsResponse.totalResults > 0'>
    <div class='card-header'>
        <h2>News</h2>
    </div>
    <div class='card-body'>
        <div class='card spaced-card' *ngFor='let newsArticle of newsResponse.articles'>
            <div class='card-header'>
                <h4>{{newsArticle.title}}</h4>
            </div>
            <div class='card-body'>
                <p>{{newsArticle.description}}</p>
                <a href='{{newsArticle.url}}'>Read more</a>
                <p>Published at: {{newsArticle.publishedAt | date : 'medium' }}</p>
            </div>
            <div class='card-footer'>
                <p>{{newsArticle.source.name}}</p>
            </div>
        </div>
    </div>
</div>